NEXT_PUBLIC_SUPABASE_URL=https://rgyvouuvxqxcxghffjuv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://dayly-nu.vercel.app
OPENAI_API_KEY=
AI_MODEL=gpt-4o-mini
CRON_SECRET=
